PORT=3000
DATABASE_URI=postgres://admin:password@localhost:5432/oidc_provider_db
RESEND_API_KEY=your_resend_api_key_here
SERVER_URL=server_url_here
FROM_EMAIL=your_email_here
ENV=development or production